# System & Session files
session.json
*.log
.DS_Store
Thumbs.db

# Python & Kivy
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.kivy/

# Buildozer / Android build artifacts
.buildozer/
bin/

# IDE files
.vscode/
.idea/
*.swp
*.bak
